@import "_variables.scss";

.main {
  background-color: #f5f5dc;
  padding-top: 0.1px;
  padding-left: 20%;
  .content {
    padding-top: 1%;
    img {
      margin-left: 16%;
      width: 40%;
      bottom: 20%;

    }
  }
}

