@import "_variables.scss";
@import url('https://fonts.googleapis.com/css?family=Oswald:400,600,700&display=swap');

.main {
  background-color: #f5f5dc;
  padding-top: 1px;
  
  .content {
    padding-top: auto;
    img
    {
      display: block;
      margin:0px auto;

    }
    .List_title
    {
      color:white;
      margin: 30px 50px 30px 200px;
      border: 2px solid black;
      padding: 20px 30px 20px 30px;
      width:150px;
      text-align:center;
      font-size: 25px;
      font-style:italic;
      font-family:Oswald;
      background-color: black;
    }
    .List_movie
    {
      margin:30px 50px 50px 165px;
      height:500px;
      width:180px;
    ol
    {
      text-align:left;
      list-style: none;
      li
      {
        line-height: 1.2cm;
        font-family: Oswald;
        &:hover
        {
          width: 200px;
          border : 2px solid gray;
        }
      }
    }
    }
    .Carousel
    {
           
    }
  }
}
