@import "_variables.scss";


.Movie{
  border: black 1px solid;
}

.ChartContent{
  text-align: center;
  overflow: scroll;
  margin-left: 20%;
  padding-top: 20px;
  padding-left: 20px;
  width: 55%;
  height: 75vh;
  border: 1px black solid;
  border-top: none;
  border-left: none;
  box-shadow: 5px 5px 0px 0px black; 
  background-color: ivory;
}