.footer {
  background: #221f1f;
  color: #999;
  font-size: 12px;
  line-height: 18px;
}

.footer-wrap {
  width: 900px;
  padding: 30px 0 40px;
  margin-left: auto;
  margin-right: auto;
}

.footer-logo {
  width: 100px;
  filter: grayscale(100%);
}

.fakelink {
  cursor: pointer;
}
