@import "_variables.scss";

.next{
    
    margin-top:130%;
    text-decoration: none;

    .nextButton{
      font-weight: bold;
      font-size: 20pt;
      text-decoration: none;
      &:visited{
        text-decoration: none;
        color: white;
      }
      span{
      padding:7px;
      background-color: #333333;
      }
      .movie_next
      {
        
      }
      .Time_next
      {
        margin-left:93%;
      }

    }
  }
.container{
  display: grid;
  .state{
    background-color: rgb(218,210,180);
    width:94%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left:10px;
    font-size: 13pt;
    margin-left: 3%;
    margin-right: 5%;
    margin-top:50px;
    column-count: 5;
    font-family: Tahoma,sans-serif;

    .eachstate{
      padding-left: 10px;
    }
    .eachstateafter{
      padding-left: 10px;
    }
  }
}
.title{
  width: 100%;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom : 8px;
  text-align: left;
  font-size: 12pt;
  font-weight: bold;
  background-color: #333333;
  color: rgb(197,197,197);
  text-align: center;
}



.DCMContent{
  padding: 3%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 5px;
  .date{
    grid-column: 1/3 ;
  }
  .cinema{
    grid-column: 3/5;
  }
  .movie{
    grid-column: 5/7;
  }
  .content{
    overflow: scroll;
    float: left;
    background-color: rgb(221, 221, 181);
    height: 300px;
    margin-top:3px;
    &::-webkit-scrollbar {
    display: none;
    }
    :nth-child(2){
      margin-top: 10px;
    }
  }
  
  .select{
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: lightgoldenrodyellow;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px rgb(168, 168, 168) solid;
    font-size: 12pt;
    cursor: pointer; 
  }
  .selected{
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #333333;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px rgb(168, 168, 168) solid;
    font-size: 12pt;
    color:white;
    cursor: pointer; 
  }
}
.seats{
  font-size: 20pt;
  padding-top: 5%;
  height: 60vh;
  text-align: center;
  .seatList{
    padding: 5px;
    background-color: #9c9c9c;
    display: inline-grid;
    grid-template-rows: repeat(4, 90px);
    grid-template-columns: repeat(13, 1fr);
    margin-left:100px;
    .seat{
      margin-right: 5px;
      width: 50px;
      height: 50px;
      border: black 3px solid;
      background-color: cornsilk;
    }
    .selectedseat{
      margin-right: 5px;
      width: 50px;
      height: 50px;
      border: black 3px solid;
      background-color: chartreuse;
    }
    .reservedseat{
      margin-right: 5px;
      width: 50px;
      height: 50px;
      border: black 3px solid;
      background-color: red;
    }
  }
  .next{
    float: right;
    margin-top:25%;
    margin-right:70px;
  }
}


.LinkStyle{
  text-decoration: none;
  &:visited, &:hover{
    text-decoration: none;
  }
  .booking{
    margin: 15%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 100pt;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 20px #999;
    &:hover{
      background-color: #3e8e41
    }
    &:active{
      background-color: #3e8e41;
      box-shadow: 0 10px #666;
      transform: translateY(4px);
    }
  }
}

.timeContent{
  padding: 3%;
  .title{
    width: 100%;
  }
  .times{
    padding: 1%;
    margin-top: 30px;
    display: grid;
    grid-template-rows: repeat(4, 50px);
    grid-template-columns: repeat(13, 1fr);
    font-size: 20pt;
    background-color:  rgb(221, 221, 181);
    .selectedtime{
      background-color: #CAB6DE;
      height:88px;
      font-size:15pt;
      text-align: center;
    }
    .unselectedtime{
      font-size: 15pt;
      text-align:center;
    }
  }
  .select{
    margin-right: 30px;
    background-color: bisque;
    cursor: pointer;
  }
  .next{
    margin-top: 20px;
  }
}

.ticket{
  border-bottom: 1px black solid;
  padding: 30px;
  text-align: left;
  
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 400px;
  .ticketTitle{
    font-size: 20pt;
  }
  ul{
    list-style: none;
    text-align: left;
    li{
      margin-bottom: 50px;
      font-size: 14pt;
      font-weight: bold;
    }
  }
}