@import "_variables.scss";

.next {
  text-decoration: none;

  .nextButton {
    font-weight: bold;
    font-size: 20pt;
    text-decoration: none;
    &:visited {
      text-decoration: none;
      color: white;
    }
    span {
      padding: 7px;
      background-color: #333333;
    }
    .movie_next {
      @include box-shadow;
    }
    .Time_next {
      @include box-shadow;
    }
  }
}
.container {
  .state {
    @include box-shadow;
    background-color: rgb(218, 210, 180);
    width: 94%;

    font-size: 13pt;
    margin-left: 3%;
    margin-right: 5%;
    margin-top: 50px;
    column-count: 5;
    font-family: Tahoma, sans-serif;

    .eachstate {
    }
    .eachstateafter {
    }
    .bar_title {
      display: inline-block;
      background-color: #eeeeee;
      padding: 10px;
    }
    .bar_content {
      display: inline-block;
      padding-left: 10px;
    }
  }
}
.title {
  @include box-shadow;
  width: 100%;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  font-size: 12pt;
  font-weight: bold;
  background-color: #333333;
  color: rgb(197, 197, 197);
  text-align: center;
}

.DCMContent {
  display: flex;
  padding: 3%;
  .content {
    margin: 5px;
    width: 33%;
    @include box-shadow;
    overflow: scroll;
    background-color: rgb(221, 221, 181);
    height: 300px;
    margin-top: 3px;
    &::-webkit-scrollbar {
      display: none;
    }
    :nth-child(2) {
      margin-top: 10px;
    }
  }

  .select {
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: lightgoldenrodyellow;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px rgb(168, 168, 168) solid;
    font-size: 12pt;
    cursor: pointer;
  }
  .selected {
    @include box-shadow;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #333333;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px rgb(168, 168, 168) solid;
    font-size: 12pt;
    color: white;
    cursor: pointer;
  }
}
.seats {
  font-size: 20pt;
  padding-top: 5%;
  height: 60vh;
  text-align: center;
  .seatList {
    @include box-shadow;
    padding: 5px;
    background-color: #9c9c9c;
    width: 740px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    .seat {
      @include box-shadow;
      margin-right: 5px;
      width: 50px;
      height: 50px;
      border: black 3px solid;
      background-color: cornsilk;
    }
    .selectedseat {
      margin-right: 5px;
      width: 50px;
      height: 50px;
      border: black 3px solid;
      background-color: chartreuse;
    }
    .reservedseat {
      margin-right: 5px;
      width: 50px;
      height: 50px;
      border: black 3px solid;
      background-color: red;
    }
  }
  .next {
    margin-top: 5%;
    margin-right: 70px;
  }
}

.LinkStyle {
  text-decoration: none;
  &:visited,
  &:hover {
    text-decoration: none;
  }
  .booking {
    margin: 15%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 100pt;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 20px #999;
    &:hover {
      background-color: #3e8e41;
    }
    &:active {
      background-color: #3e8e41;
      box-shadow: 0 10px #666;
      transform: translateY(4px);
    }
  }
}

.timeContent {
  padding: 3%;
  .title {
    width: 100%;
  }
  .times {
    @include box-shadow;
    padding: 1%;
    margin-top: 30px;
    font-size: 20pt;
    background-color: rgb(221, 221, 181);
    .selectedtime {
      @include box-shadow;
      background-color: #cab6de;
      height: 88px;
      font-size: 15pt;
      text-align: center;
    }
    .unselectedtime {
      @include box-shadow;
      background-color: lightgoldenrodyellow;
      height: 88px;
      font-size: 15pt;
      text-align: center;
    }
  }
  .select {
    margin-right: 30px;
    background-color: bisque;
    cursor: pointer;
  }
  .next {
    margin-top: 20px;
  }
}

.ticket {
  border-bottom: 1px black solid;
  padding: 30px;

  background-image: url("../ticket/영화티켓.png");
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 450px;
  .ticketTitle {
    font-size: 20pt;
    text-align: center;
  }
  ul {
    list-style: none;
    text-align: left;
    li {
      margin-bottom: 50px;
      font-size: 14pt;
      font-weight: bold;
    }
  }
}
