.paymentcontent{
  margin: 5%;
  display: grid;
  row-gap: 5px;
  column-gap: 5px;
  .paycontent{
    margin-top: 50px;
    .selected_dis{
      background-color: green;
      width: 100px;
    }
    .unselected_dis{
      cursor: pointer;
      width: 100px;
    }
    
    .dcContent{
      background-color: white;
      padding-top: 30px;
      margin-left: 10px;
      text-align: center;
      float: left;
      width: 20%;
      height: 100%;
      img{
        width:4vw;
      }
    }
    .selected{
      background-color: yellow;
    }
  }
  .content{
    background-color: rgb(221, 221, 181);

  }
  .title{
    width: 100%;
    padding-left: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 20pt;
  }
  .dc{
    height: 40vh;
    grid-row: 1/3;
    grid-column: 1/3;
  }
  .payment{
    height: 30vh;
    grid-row: 3/5;
    grid-column: 1/3;
  }
  .ticketinfo{
    grid-row: 1/5;
    grid-column: 3/4;
    .paySubcontent{
      padding: 0px 0px 5px 0px;
      background-color: #bbe0bf;
      margin: 30px;
      .subTitle{
        padding: 5px;
        color: rgb(197,197,197);
        background-color: #333333;

      }
    }
    .price{
      margin-top: 70px;
    }
    .discount{

    }
    .finalPrice{

    }
    .paybutton{
      cursor: pointer;
      margin-right: auto;
      margin-left: auto;
      font-size: 30pt;
      color: white;
      text-align: center;
      width: 90%;
      margin-top: 10%;
      .link{
        text-decoration: none;
        &:visited,&:link{
          text-decoration: none;
        }
      }
    }
  }
}