.loginContent{
  display: grid;
  padding: 10px;
  column-gap: 10%;
  .content{
    margin-top: 10%;
    padding: 10%;
  }
  .login{
    margin-top: 13%;
    margin-left: 10%;
    border: black 1px solid;
    grid-column: 1/3;
  }
  .noMember{
    margin-right: 10%;
    border: black 1px solid;
    grid-column: 3/5;
  }
}