@import "_variables.scss";

.menu{
  height: 10vh;
  overflow: visible;
  margin-bottom: 5%;
  img{
  display: block;
  width: 10%;
  margin-left:auto;
  margin-right: auto;
  }
  ul{
  list-style-type: none;
  margin-right: 40px;
  padding-right: 150px;
  overflow: hidden;
  li {
    margin-left: 80px;
    float: right;
    .menuLink{
      text-decoration: none;
      &:visited{
        text-decoration: none;
      }
      .menu_item{
        border-left: 5px #4edd4e solid;
        border-right: 5px #4edd4e solid;
        font-size: 20pt;
        text-align: center;
        width: 100%;
        margin-left: 100px;
        &:hover{
          border-left: 5px #ec7f40 solid;
          border-right: 5px #ec7f40 solid;
          transition: .3s ease;
        }
      }
    }
  }
}

}
