.menu{
  background-color: rgb(235, 235, 235);
  background-color: white;

  .link{
    text-decoration: none;
    color: white;
    &:visited,&:hover{
      text-decoration: none;
    }
  }
  .menuItem{
    padding: 10px 0 10px 0;
    background-color: rgb(70, 70, 70);
    width: 25%;
    float: left;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: 20pt;
    :hover{
      cursor: grab;
    }
    
  }
  .selected{
      padding: 10px 0 10px 0;
    background-color: green;
    width: 25%;
    float: left;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: 20pt;
    :hover{
      cursor: grab;
    }
    }
}

