.menu{
  margin-top: 100px;
  float: left;
  width: 20%;
  ul{
    list-style: none;
  }
  .link{
    text-decoration: none;
    &:visited,&:hover{
      text-decoration: none;
    }
  }
  .menuItem{
    margin-top: 50px;
    font-size: 30pt;
    :hover{
      cursor: grab;
    }
  }
}

