$t: 1s;
$d: 0.08em;
$n: 3;
$e: cubic-bezier(0.86, 0, 0.07, 1);

$main-front: black;
$main-back: #6fd17c;

$menu-item: green;

$container-top-border-bottom: green;
$container-border: white;
$container-seat: rgba(255, 255, 255, 100);
